    <div class="footer">
      <p>all rights reserved 🤪🦄 | follow us on</p>
      <div class="d-flex justify-content-center">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-pinterest"></i></a>
      </div>
    </div>
