    <div class="d-flex justify-content-between navbar p-2">
      <%=link_to root_path, class: "navbar-brand" do %>
      <h1>airbnweird</h1>
      <% end %>
        <% if user_signed_in? %>
          <div>
            <a href="" class="tab active">My bookings</a>
            <a href="" class="tab">Rent a friend</a>
          </div>
          <ul class="navbar-nav me-auto list-inline text-center d-flex justify-content-center align-items-center">
            <li class="nav-item active list-inline-item">
              <a class="nav-link" href="#"><%= current_user.name %></a>
            </li>

            <li class="nav-item dropdown list-inline-item">
             <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= current_user.photo.file.nil? ? "https://bip.cnrs.fr/wp-content/uploads/2019/11/user.jpg" : cloudinary_url(current_user.photo) %> alt="">
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/users/edit">Edit</a>
                <a class="dropdown-item" href="/users">Delete</a>
              </div>
            </li>

            <li class ="nav-item list-inline-item">
              <a class ="fa-solid fa-arrow-right-from-bracket" id="log-out-icon" href="/users/sign_out"></a>
            </li>
          <!--li class="nav-item"-->
          <!--/li-->
          </ul>

        <% else %>
          <div>
            <a href="/users/sign_up" class="btn btn-primary">Sign-up</a>
            <a href="/users/sign_in" class="btn btn-primary">Sign-in</a>
          </div>
        <% end %>
    </div>
