
<div class="banner">
  <div class="banner-infos">
    <h1>Welcome to <strong>airbnweird</strong></h1>
    <h3 class="banner-title">You are unique, you deserve a best friend just like you.</h3>
  </div>
</div>
<div class="container">
  <%= render "shared/card" %>
</div>
