<div class="container">
  <h1>Navbar here</h1>
  <div class="banner">
    <div class="banner-infos">
      <h3 class="banner-title">You are unique, you deserve a best friend like you.</h3>
      <div class="btn" id="button-banner">Find your bestie here!</div>
    </div>
  </div>
  <h2>Discover some of our best profiles :</h2>
  <div class="cards">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Johnny Crazy</h5>
      <h6 class="card-subtitle mb-2">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Willy Weirdo</h5>
      <h6 class="card-subtitle mb-2">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">French Claude</h5>
      <h6 class="card-subtitle mb-2">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
