.friend-tile {
  background-color: white;
  height: 200px;
  border-radius: 5px;
  display: flex;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
}

.friend-tile-content {
  padding: 5px;
}

.friend-tile-content-up {
  height: 165px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-tile-content-up > h5 {
  font-weight: 700;
  font-size: 20px;
  color: blueviolet;
}

.friend-tile-content-up > p {
  font-size: 13px;
  color: rgb(100,100,100);
}

.link_card {
  text-decoration: none !important;
  color: black;
  &:hover {
    color: black;
    opacity: 0.8;
  }
}
