<h1>Review your friend!</h1>
<p>... Tell us about your special experience</p>

<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
